/*current weather styles*/
#weather-info{
    display:none
} 

.padding-left{
    padding-left: 10px;
}
/*recent search styles*/
#recent-search-card{
    margin-bottom: 20px;
}

.recent-city{
    border: 1px solid lightgray;
    margin: 0;
    cursor: pointer;
}
.recent-city:hover{
    background-color: rgb(238, 238, 238,0.5);
}
.recent-city:active{
    background-color: rgb(238, 238, 238);
}

/*uv Index styles*/
#uvIndex{
    padding:5px 20px;
    font-weight: bold;
    border-radius: 10%;
    margin-left: 10px;
}
#uvindex-card{
    max-width: 200px;
}
.uvLegend{
    padding: 5px 10px;
    border-radius: 5px;
    width: 70%;
    margin: 5px auto;
}
.low{
    background-color: green;
}
.moderate{
    background-color: yellow;
    color:black;
}
.high{
    background-color: orange;
    color:black;
}
.very-high{
    background-color: red;
}
.extreme{
    background-color: rebeccapurple;
}


/*5 day forecast card styles*/
.card{
    padding:10px;
    margin: 10px 0;
}

/* media query */
@media only screen and (max-width:640px){
    #weather-info{
        text-align: center;
    }

    .card{
        align-content:space-btween !important;
    }
    .card h4{
        padding-top: 10px;
        float:left;
        margin: 10px 0;
        
    }
    .card img{
        display: inline-block;
       margin: 10px;
    }

    .card .future-temp{
       margin: 10px 30px;
        
        display: inline-block
    } 

    .card .future-humidity{
        float:right;
    }

}